.contain {
    margin-top: 4em;
}

.title {
  font-family: "Boldonse", system-ui;
  text-align: center;
  text-shadow: 0 1px 100px rgba(0, 255, 255, 0.486);
}

.title span {
    color: var(--p-color);
    /* text-shadow: 0 1px 100px white; */
    /* box-shadow: 0 1px 100px white; */
    font-size: 1em;
}

.btn_actions {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.btn {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    /* font-weight: bold; */
    /* background-color: var(--p-color); */
    padding: 0.5em 1em;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--p-color);
}

.btn:last-child:hover {
    background-color: var(--s-color);
}

.resources {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 235px);
    justify-content: center;
    gap: 20px;
}