.contain {
    background-color: #020202;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 1em;
    gap: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.low {
    box-shadow: 2px 2px 10px var(--p-color);
}

.contain:hover {
    box-shadow: 1px 2px 10px var(--s-color);
    transform: scale(1.02);
}

.name {
    font-family: "Boldonse", system-ui;
    color: var(--s-color);
}

.quantity {
    font-weight: 500;
    font-size: 1.2em;
}

.quantity span {
    color: var(--s-color);
    font-weight: bold;
}