.contain {
    background-color: #020202;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 1em;
    gap: 1em;
    transition: 0.3s;
    justify-content: space-between;
    box-shadow: 0 1px 100px rgba(0, 255, 255, 0.144);
}

.low {
    box-shadow: 2px 2px 10px var(--p-color);
}

.name {
    font-family: "Boldonse", system-ui;
    color: var(--s-color);
    text-align: center;
    text-overflow: ellipsis;
}

.quantity {
    font-weight: 500;
    font-size: 1.2em;
}

.quantity span {
    color: var(--s-color);
    font-weight: bold;
}

.btn_container {
    display: flex;
    gap: 1em;
}


.btn {
    background-color: var(--p-color);
    padding: 0.5em 1em;
    cursor: pointer;
    transition: 0.3s;
}

.btn:last-child {
    background-color: var(--s-color);
}

.btn:last-child:hover {
    background-color: #be541b;
}

.btn:hover {
    background-color: #ac181c;
}

.modal {
    position: fixed;
    z-index: 10;
    background-color: #29010125;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hidde_modal {
    display: none;
}

.modal__content {
    width: 80%;
    height: 80%;
    background-color: #111;
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
}

.btn_close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.btn_close img {
    filter: invert();
    width: 20px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    border-bottom: 1px solid #222;
    padding-bottom: 1em;
}

.modal p {
    font-weight: bold;
}

.modal__info {
    margin-top: 3em;
}

.modal__title {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 2em;
}

.modal__title span {
    color: var(--p-color);
}