@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: white;
  font-family: "Boldonse", system-ui;
  /* font-family: "Exo 2", sans-serif; */
}

.container {
  width: 90%;
  margin: 0 auto;
}
