@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --p-color: #DB1D22;
  --s-color: #DB5E1D;
}

button {
  background: none;
  border: none;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: white;
  /* font-family: "Boldonse", system-ui; */
  font-family: "Exo 2", sans-serif;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
  background-image: url("media/planeta-marte.webp");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: 190% 0;
  /* background-color: white; */
  z-index: -1;
  animation: floating-planet 2s ease-in-out infinite alternate;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@keyframes floating-planet {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}